{% comment %} StyleSheet {% endcomment %}
<style>
   {{ section.settings.font | font_face }}
    {{ section.settings.font | font_modify: 'weight', 'bolder' | font_face }}

    {%- if section.settings.font != blank -%}
    #shopify-section-{{ section.id }} .Lm-heading {
      font-family: {{ section.settings.font.family }}, {{ section.settings.font.fallback_families }};
      font-style: {{ section.settings.font.style }};
    }
    {% endif %}

    {%- if section.settings.color != blank -%}
    #shopify-section-{{ section.id }} .Lm-heading {
      color: {{ section.settings.color }};
    }
    {% endif %}
    #shopify-section-{{ section.id }}{
      background: {{ section.settings.bg_color }};
    }
    #shopify-section-{{ section.id }} .Lm-heading {
      font-size: {{ section.settings.desktopFontSize }}px;
      font-weight: {{ section.settings.desktopFontWeight }};
      text-transform: {{ section.settings.desktopTextTransfer }};
      text-align: {{ section.settings.desktopTextAlign }};
      padding-bottom: 20px;
      line-height: normal;
      margin-bottom: {{ section.settings.m_bottom }}px;
    }
    #shopify-section-{{ section.id }} .Lm-description{
      max-width: {{ section.settings.maxwidth }}px;
      margin: 0 auto;
      font-size: {{ section.settings.fontsize_D }}px;
      text-align: {{ section.settings.desktopTextAlign }};
      color: {{ section.settings.desc_color }};
    }
  #shopify-section-{{ section.id }} .lm_page_width{
    max-width: {{section.settings.container_width}}px;
    margin: 0 auto;
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    padding-right: 15px;
    padding-left: 15px;
  }
  #shopify-section-{{ section.id }} .lm_full_width{
    width: 100%;
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  #shopify-section-{{ section.id }} .Lm-heading{
    position: relative;
  }
  {%- if section.settings.desktopTextAlign == 'left' -%}
    #shopify-section-{{ section.id }} .Lm-heading::after{
      content: '';
      position: absolute;
      background: {{ section.settings.color_border }};
      height: {{ section.settings.border_h }}px;
      width: {{ section.settings.border_w }}px;
      bottom: 0;
      left: 0;
    }
    #shopify-section-{{ section.id }} .Lm-description{
      margin-left: 0;
    }
  {%- endif -%}
  {%- if section.settings.desktopTextAlign == 'right' -%}
    #shopify-section-{{ section.id }} .Lm-heading::after{
      content: '';
      position: absolute;
      background: {{ section.settings.color_border }};
      height: {{ section.settings.border_h }}px;
      width: {{ section.settings.border_w }}px;
      bottom: 0;
      right: 0;
    }
    #shopify-section-{{ section.id }} .Lm-description{
      margin-right: 0;
    }
  {%- endif -%}
  {%- if section.settings.desktopTextAlign == 'center' -%}
    #shopify-section-{{ section.id }} .Lm-heading::after{
      content: '';
      position: absolute;
      background: {{ section.settings.color_border }};
      height: {{ section.settings.border_h }}px;
      width: {{ section.settings.border_w }}px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  {%- endif -%}

    @media (min-width: 480px) and (max-width: 1023px) {
      #shopify-section-{{ section.id }} .Lm-heading {
        font-size: {{ section.settings.tabletFontSize }}px;
      }
    }

    @media (max-width: 479px) {
      #shopify-section-{{ section.id }} .Lm-heading {
        font-size: {{ section.settings.mobileFontSize }}px;
      }
    }

    {%- if section.settings.css != blank -%}
    {{ section.settings.css }}
    {% endif %}

</style>
{% comment %} end stylesheet {% endcomment %}

{% comment %} Start Template {% endcomment %}
<div class="lm_page_width">
  <div class="Lm-sections Lm-heading {{ section.settings.class }}">
    {{ section.settings.heading }}
  </div>
  <div class="Lm-sections Lm-description {{  }}">
    {{ section.settings.richtext_block }}
  </div>
</div>

{% comment %} End Template {% endcomment %}
